@import 'styles/_variable';
@import 'styles/breackpoints';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    @media (min-width: 1400px) {
        width: 80%;
        padding: 1rem $breackpoint-desk-sm;
    }
}

.section-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 1rem $breackpoint-mobile;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (min-width: 1400px) {
        padding: 1rem;
        gap: 1rem;
    }

    .forms {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;

        &__form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }

        &__title {
            font-weight: 700;
            font-size: 1rem;
            color: $black;

            @media (min-width: 1400px) {
                font-size: 1rem;
            }
        }

        &__form__container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .inputs {
                width: 100%;
            }
        }
    }
}