@import 'styles/_variable';

.section-aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 19rem;

    &__filter {
        width: 100%;

        &__header {
            display: flex;
            align-items: flex-start;
            padding: 1rem;

            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 22px;
                text-transform: uppercase;
            }
        }

        &__abas {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            .checkbox {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: left;
                padding: 1rem;

                & input {
                    display: none;
                }

                & input + label:before {
                    content: '';
                    width: 18px;
                    height: 18px;
                    border-radius: 4px;
                    background-color: $background;
                    border: 1px solid $black;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8px;
                    margin-bottom: 3px;
                    cursor: pointer;
                    transition: all .25s ease-in-out;
                }

                & input:hover + label:before {
                    background-color: $white;
                }

                & input:checked + label:before {
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 25 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.4911 18.2766L0.366101 10.1516C-0.122034 9.66351 -0.122034 8.87206 0.366101 8.38387L2.13383 6.6161C2.62196 6.12792 3.41346 6.12792 3.9016 6.6161L9.37499 12.0894L21.0984 0.366101C21.5865 -0.122034 22.378 -0.122034 22.8662 0.366101L24.6339 2.13387C25.122 2.62201 25.122 3.41346 24.6339 3.90165L10.2589 18.2767C9.77069 18.7648 8.97924 18.7648 8.4911 18.2766Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: $red;
                    border-color: $white;
                }

                & label {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    cursor: pointer;
                }
            }
        }
    }
}