@import 'styles/_variable';
@import 'styles/breackpoints';

.section-esqueci-senha {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 166px;

    &__container {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        background-color: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
    }
}