@import 'styles/_variable';

.purshase {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 1rem;

    .resume {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &__infors, &__infors--row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;

            &__infor {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
            }

            &__infor--approved {
                color: $green;
            }
            &__infor--canceled {
                color: $red;
            }
            &__infor--pendding {
                color: $yellow;
            }

            .image-mini {
                width: 84px;
                height: 84px;
            }

        }
        
        &__infors--row {
            flex-direction: row;
        }
    }

    .complete {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3rem;

        &__infors {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: left;
            gap: 1rem;

            &:nth-child(3) {
                flex-grow: 2;
            }

            .table {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;

                &__header {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: left;

                    &__cols {
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;

                        .col:nth-child(1) {
                            width: 70%;
                            text-align: left;
                        }
                        .col:nth-child(2) {
                            width: 30%;
                            text-align: left;
                        }
                    }

                }

                &__body {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: left;

                    &__rows {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .row {
                            .product {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                gap: .5rem;

                                &__image {
                                    width: 50.19px;
                                    height: 50px;
                                }

                                &__infors {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: center;

                                    &__title {
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 16px;
                                        line-height: 27px;        
                                    }

                                    &__cod {
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 27px;
                                    }
                                }
                            }
                        }

                        .row:nth-child(1) {
                            max-width: 70%;
                            text-align: left;
                        }
                        
                        .row:nth-child(2) {
                            width: 30%;
                            text-align: center;
                        }
                    }

                }
            }
        }
    }

}