@import 'styles/_variable';

.menu-superior {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../../public/assets/menu-superior.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    &__paragraph {
        color: $white;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
}