@import 'styles/_variable';

.product {
    width: 100%;
    height: 189px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: $white;

    .image-product {
        width: 150px;
        height: 150px;
    }

    .content-product {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        gap: 1rem;

        &__title {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 27px;
        }

        &__cod {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
        }
    }

    .content-prices {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        &__trash {
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }

        &__price {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: left;
            gap: .5rem;

            .price-old {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 17px;
                text-decoration-line: line-through;
            }

            .price-now {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 18px;
                color: $red;
            }
        }
    }
}