@import 'styles/_variable';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .section-banner {
        width: 100%;
    }
    
    .section-banner-cta {
        width: 100%;
        padding: 4rem 166px;
    }

    &__divi {
        width: 100%;        
        padding: 0 166px;

        div {
            width: 100%;
            height: 100px;
            background-color: $red;
        }
    }

    .section-product {
        width: 100%;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 2.5rem;
        padding: 4rem 166px;
    }
}